* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, sans-serif !important;
  box-sizing: border-box;
  font-family: font;
  font-weight: bold !important;
}
@font-face {
  font-family: font;
  src: url(../Fonts/Tajawal/Tajawal-Black.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(rgb(5, 4, 15), rgb(23, 21, 71));
}

/* تغيير شريط الاسكرول */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #f5c54225;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e5b232;
}
.choose {
  width: 250px !important;
  height: 250px !important;
  border: 5px solid #f5c542 !important;
  background: #07061b !important;
  transition: 0.5s;
}
.choose:hover {
  box-shadow: 0 0 30px #f5c542;
}

/* موبايل */
@media (max-width: 762px) {
  .rejaser-container {
    width: 90vw !important;
    height: 90vh !important;
  }
  .current-actor {
    width: 30% !important;
    height: 80% !important;
  }
  .text {
    width: 30% !important;
    height: 70% !important;
  }
  .text div{
    font-size: 12px !important;
  }
  .film-cards-container {
    width: 100% !important;
    columns: 2 !important;
    display: flex !important;
    justify-content: center !important;
    flex-wrap: wrap !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    gap: 1px !important;
  }
  .film-card {
    max-width: 30% !important;
    height: 30% !important;
  }
  .actor-card {
    max-width: 30% !important;
    height: 50% !important;
  }
}

/* تابلت / iPad */
@media (min-width: 762px) and (max-width: 1280px) {
  .rejaser-container {
    width: 90vw !important;
    height: 90vh !important;
  }

  .film-card {
    max-width: 50% !important;
    height: 50% !important;
  }
    .film-cards-container {
    width: 100% !important;
    columns: 2 !important;
    display: flex !important;
    justify-content: center !important;
    flex-wrap: wrap !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    gap: 1px !important;
  }

}
